/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color__page: #FFF1F7;
  --background-image__header: url(../images/cover-image-light.png);
  --color__text: #353430;
  --accent-color: #FF8DCB;
  --color__frame: #353430;
  --text-color__button: #353430;
  --border-color__button: #353430;
  --border-color__button-hover: rgba(50, 49, 45, 0.4);
  --color__title: #FFC2E6;
  --color__text-section-title: #353430;
  --color__text-paragraph: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --background-color__page: #FFF1F7;
  --background-image__header: url(../images/cover-image-light.png);
  --color__text: #353430;
  --accent-color: #FF8DCB;
  --color__frame: #353430;
  --text-color__button: #353430;
  --border-color__button: #353430;
  --border-color__button-hover: rgba(50, 49, 45, 0.4);
  --color__title: #FFC2E6;
  --color__text-section-title: #353430;
  --color__text-paragraph: #353430;
}
