/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color__page: #000028;
  --background-image__header: url(../images/cover-image-dark.png);
  --font-family__page:'IBM Plex Mono', monospace, sans-serif;
  --font-size__text: 18px;
  --line-height__text: 23.4px;
  --color__text: #000028;
  --accent-color: #FF0070;
  --color__frame: #FF0070;
  --text-color__button: #FF0070;
  --border-color__button: #FF0070;
  --border-color__button-hover: rgba(255, 0, 112, 0.4);
  --color__title: #DB00FF;
  --line-height__title: 83%;
  --color__text-section-title: #FF0070;
  --color__text-paragraph: #F1B2CE;
}
